streamlit==1.32.0
pandas==2.2.0
numpy==1.26.4
polars==0.20.7
openpyxl==3.1.2
xlsxwriter==3.1.9
pyodbc==5.0.1
requests==2.31.0
pyarrow==14.0.1
matplotlib==3.8.2
plotly==5.18.0
yagmail==0.15.293
streamlit-aggrid==0.3.4
urllib3==1.26.18
toml==0.10.2
fastexcel==0.14.0
sendgrid==6.10.0
xlsx2csv==0.8.4